@media (max-width: 1300px) {
.left_column{
    width: 97%;
}
.right_column{
    width: 97%;
}
.but{
    font-size: 5.3rem;
}
}
@media (min-width: 1300px) {
.but{
    font-size: 2rem;
}
}
.but{
    align-items: center;
    margin-left: 0.7em;
    height: 3em;
    width: 3em;
}